$breakpoints: (
  xs:     480px, // 30rem
  sm:     576px, // 36rem
  md:     768px, // 48rem
  lg:     992px, // 62rem
  xl:    1200px  // 75rem
);

#page__home {

  #main__header {

    .grid {
      background-image:       url(../img/page__home/puxl-home__main-header--bg.png);
      background-position:    bottom center;
      background-repeat:      no-repeat;
      background-size:        25em;
      padding:                0
                              0
                              25em;

      @media (min-width: map-get($breakpoints, sm)) {
        background-size:    35em;
        padding:            0
                            0
                            35em;
      }

      @media (min-width: map-get($breakpoints, md)) {
        background-position:    center right;
        background-size:        20em;
        padding:                0;
      }

      @media (min-width: map-get($breakpoints, lg)) {
        background-size:    30em;
        padding:            0;
      }

      @media (min-width: map-get($breakpoints, xl)) {
        background-size:    38em;
      }
    }

    a.btn {
      @media (max-width: map-get($breakpoints, sm) - 1) {
        width:    100%;
      }

      &:first-child {
        @media (max-width: map-get($breakpoints, sm) - 1) {
          margin-bottom:    1em;
        }

        @media (min-width: map-get($breakpoints, sm)) {
          margin-bottom:    0;

          [dir=ltr] & {
            margin-right:    1em;
          }

          [dir=rtl] & {
            margin-left:    1em;
          }
        }
      }
    }

  }// #main__header

  #features {

    article {
      @media (min-width: map-get($breakpoints, md)) {
        height:    20em;
      }

      @media (min-width: map-get($breakpoints, lg)) {
        height:    18em;
      }
    }

  }// #features

  #soon {

    padding:    4em
                0;

    article {
      h4 {
        text-align:    center;
      }
    }

  }// #soon

  #main__footer {

    background-color:    #EEE;
    padding:             2em
                         0;

  }// #main__footer

}// #page__home

#page__docs {

}// #page__docs

#page__icons {
  figure {
    display:    inline-block;
    height: 6rem;
    margin: .25rem;
		padding: .5rem;
		width: 6rem;
  }
	svg {
		&:focus,
		&:hover {
			transform: scale(2);
		}
	}
  figcaption {
    display: none;
  }
}// #page__docs