@charset 'UTF-8';

// Import Puxl:
@import 'puxl/setup';

#page__home {

  #main__header {

    .grid {
      background-image:       url(../img/page__home/puxl-home__main-header--bg.png);
      background-position:    bottom center;
      background-repeat:      no-repeat;
      background-size:        25em;
      padding:                0
                              0
                              25em;

      @media (min-width: map-get($breakpoints, sm)) {
        background-size:    35em;
        padding:            0
                            0
                            35em;
      }

      @media (min-width: map-get($breakpoints, md)) {
        background-position:    center right;
        background-size:        20em;
        padding:                0;
      }

      @media (min-width: map-get($breakpoints, lg)) {
        background-size:    30em;
        padding:            0;
      }

      @media (min-width: map-get($breakpoints, xl)) {
        background-size:    38em;
      }
    }

    a.btn {
      @media (max-width: map-get($breakpoints, sm) - 1) {
        width:    100%;
      }

      &:first-child {
        @media (max-width: map-get($breakpoints, sm) - 1) {
          margin-bottom:    1em;
        }

        @media (min-width: map-get($breakpoints, sm)) {
          margin-bottom:    0;

          [dir=ltr] & {
            margin-right:    1em;
          }

          [dir=rtl] & {
            margin-left:    1em;
          }
        }
      }
    }

  }// #main__header

  #features {

    article {
      @media (min-width: map-get($breakpoints, md)) {
        height:    20em;
      }

      @media (min-width: map-get($breakpoints, lg)) {
        height:    18em;
      }
    }

  }// #features

  #soon {

    padding:    4em
                0;

    article {
      h4 {
        text-align:    center;
      }
    }

  }// #soon

  #main__footer {
    background-color:    #EEE;
    padding:             2em
                         0;
  }// #main__footer

}// #page__home


#page__docs {

  .wrapper {
    @include float--grid();

    > aside {

      @if $animation--enabled == true {
        @extend %animation--enable;
      }

      @media (max-width: $mobile-threshold - 1) {

        background-color:    $drawer--background-color;
        bottom:              0;
        overflow-y:          auto;
        position:            fixed;
        top:                 0;
        width:               $drawer--width;
        z-index:             map-get($z-elevations, drawer);

        &[aria-hidden=false] {
          &.left {
            @include z-shadow(map-get($z-elevations, drawer), east);

            left: 0;
          }

          &.right {
            @include z-shadow(map-get($z-elevations, drawer), west);

            right: 0;
          }
        }

        &[aria-hidden=true] {
          &.left {
            @include z-shadow(0);

            left: -$drawer--width;
          }

          &.right {
            @include z-shadow(0);

            right: -$drawer--width;
          }
        }

      }// @media (max-width: $mobile-threshold - 1)

      @media (min-width: $mobile-threshold) {

        @include float--column(md, 4);
        @include float--column(lg, 3);

        min-height:    1px;
        position:      relative;

        [dir=ltr] & {
          float:    left;
        }

        [dir=rtl] & {
          float:    right;
        }

      }// @media (min-width: $mobile-threshold)

      ul {background-color:aqua;

        li {background-color:aquamarine;}

      }

    }// > aside

    > main {

      @if $animation--enabled == true {
        @extend %animation--enable;
      }

      @include float--column(xs, 12);
      @include float--column(md, 8);
      @include float--column(lg, 9);

      min-height:    1px;
      position:      relative;

      [dir=ltr] & {
        float:    left;
      }

      [dir=rtl] & {
        float:    right;
      }

      section {
        > h4 {
          padding:          2em
                            0
                            0;
          border-bottom:    solid
                            .125rem
                            rgba(0,0,0,.1);
        }
      }

    }// > main

  }// .wrapper

    .file-article {
      border-bottom:     solid
                         .125rem
                         rgba(0,0,0,.1);
      margin:            2em
                         0;
      padding-bottom:    1em;
    }

      .file-example {
        border:        solid
                       .0625rem
                       rgba(0,0,0,.05);
        overflow-x:    scroll;
        padding:       1rem;
      }

      .file-code {

        opacity:    .25;

        &:hover {
          opacity:    1;
        }

        pre {
          margin:         0;

          &::before,
          &::after {
            display:    none;
          }
        }

        code {
          border:           none;
          border-radius:    0;
        }

        .tag {
          border:           none;
          border-radius:    0;
          box-shadow:       none;
        }

        .code-toolbar{

          .toolbar {
            top:    0;
          }

        }

        > figcaption {
          padding:    1rem;
        }
      }

//  #type {}
//    #type__abbreviation {}
//    #type__blockquote {}
//    #type__bold {}
//    #type__code {}
//    #type__definition-list {}
//    #type__definition {}
//    #type__heading {}
//    #type__italic {}
//    #type__keyboard {}
//    #type__link {}
//    #type__list {}
//    #type__mark {}
//    #type__paragraph {}
//    #type__preformatted {}
//    #type__quotation {}
//    #type__small {}
//    #type__sub-sup {}
//    #type__thematic-break {}
//  #element {}
//   #element__image {}
//   #element__figure {}
//   #element__table {}
//   #element__button {}
//   #element__label-button {}
//   #element__check {}
//   #element__textfield {}
//   #element__textarea {}
//   #element__select {}
//   #element__switch {}
//   #element__range {}
   
}// #page__docs
