@charset 'UTF-8';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//    PUXL framework
//
//    Version:     1
//
//    Author:      Iñigo Garcia (@MrKanuel)
//
//    Route:       puxl-framework/css/puxl/type/_paragraph.scss
//
//    Requires:    puxl-framework/css/puxl/theme/_puxl-light.scss
//                 puxl-framework/css/puxl/_structure.scss
//
//    License:     GNU General Public License v3.0
//                 https://github.com/puxl/puxl-framework/blob/master/LICENSE
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


  p {
    margin:       0
                  0
                  var(--body--line-height);
    max-width:    $paragraph--max-width;

    &:last-child {
      margin-bottom:    0;
    }
  }
