@charset 'UTF-8';

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
//    Puxl
//
//    Version:     1-beta
//
//    Author:      Iñigo Garcia (@MrKanuel)
//
//    Route:       puxl-framework/css/puxl/mixin/_z-shadow.scss
//
//    Requires:    puxl-framework/css/puxl/_structure.scss
//
//    License:     The MIT License (MIT)
//                 https://github.com/puxl/puxl-framework/blob/master/LICENSE
//
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -


//    Z-Shadow - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	@mixin z-shadow($rest, $direction: null, $raised: null) {
  //  Cast a shadow chosing direction and depth.
  //
  //  Parameters:    $rest: [ integer number ]
  //                        Z-elevation, or depth where the shadow casts from.
  //                        Choose one from $z-elevations in
  //                        theme/_puxl-light.scss
  //
  //                 $direction (optional): [ north, east, south or west ]
  //                                        Default: [ null ]
  //                                        Direction where the shadow casts.
  //
  //                 $raised (optional): [ number ]
  //                                     Default: [ null ]
  //                                     Extra z-elevation that adds to rest
  //                                     elevation.

    @if ($rest != null and $direction == null and $raised == null) {
      @if (type-of($rest) == number) {
        box-shadow:    0
                       #{($rest / 2)}px
                       #{$rest}px
                       var(--box-shadow--color),
                       0
                       #{$rest}px
                       #{(2 * $rest)}px
                       var(--box-shadow--color);
      }
    }

    @if ($rest != null and $direction != null and $raised == null) {
      @if (type-of($direction) == string) {
        @if ($direction == north) {
          box-shadow:    0
                         -#{($rest / 2)}px
                         #{$rest}px
                         var(--box-shadow--color),
                         0
                         -#{$rest}px
                         #{(2 * $rest)}px
                         var(--box-shadow--color);
        }

        @if ($direction == east) {
          box-shadow:    #{($rest / 2)}px
                         0
                         #{$rest}px
                         var(--box-shadow--color),
                         #{$rest}px
                         0
                         #{(2 * $rest)}px
                         var(--box-shadow--color);
        }

        @if ($direction == south) {
          box-shadow:    0
                         #{($rest / 2)}px
                         #{$rest}px
                         var(--box-shadow--color),
                         0
                         #{$rest}px
                         #{(2 * $rest)}px
                         var(--box-shadow--color);
        }

        @if ($direction == west) {
          box-shadow:    -#{($rest / 2)}px
                         0
                         #{$rest}px
                         var(--box-shadow--color),
                         -#{$rest}px
                         0
                         #{(2 * $rest)}px
                         var(--box-shadow--color);
        }
      }
      @else if (type-of($direction) == number) {
        box-shadow:    0
                       #{(($rest + $direction) / 2)}px
                       #{($rest + $direction)}px
                       var(--box-shadow--color),
                       0
                       #{($rest + $direction)}px
                       #{(2 * ($rest + $direction))}px
                       var(--box-shadow--color);
      }
    }

    @if ($rest != null and $direction != null and $raised != null) {
      @if (type-of($direction) == string and type-of($raised) == number) {
        @if ($direction == north) {
          box-shadow:    0
                         -#{(($rest + $raised) / 2)}px
                         #{($rest + $raised)}px
                         var(--box-shadow--color),
                         0
                         -#{($rest + $raised)}px
                         #{(2 * ($rest + $raised))}px
                         var(--box-shadow--color);
        }

        @if ($direction == east) {
          box-shadow:    #{(($rest + $raised) / 2)}px
                         0
                         #{($rest + $raised)}px
                         var(--box-shadow--color),
                         #{($rest + $raised)}px
                         0
                         #{(2 * ($rest + $raised))}px
                         var(--box-shadow--color);
        }

        @if ($direction == south) {
          box-shadow:    0
                         #{(($rest + $raised) / 2)}px
                         #{($rest + $raised)}px
                         var(--box-shadow--color),
                         0
                         #{($rest + $raised)}px
                         #{(2 * ($rest + $raised))}px
                         var(--box-shadow--color);
        }

        @if ($direction == west) {
          box-shadow:    -#{(($rest + $raised) / 2)}px
                         0
                         #{($rest + $raised)}px
                         var(--box-shadow--color),
                         -#{($rest + $raised)}px
                         0
                         #{(2 * ($rest + $raised))}px
                         var(--box-shadow--color);
        }
      }
    }
	}
